@font-face {
  font-family: "iconfont"; /* Project id 2728578 */
  src: url('iconfont.woff2?t=1628301986389') format('woff2'),
       url('iconfont.woff?t=1628301986389') format('woff'),
       url('iconfont.ttf?t=1628301986389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daochu:before {
  content: "\e697";
}

.icon-lujing:before {
  content: "\e651";
}

.icon-daochu1:before {
  content: "\e626";
}

.icon-rizhi:before {
  content: "\e621";
}

.icon-xitongmorenziduan:before {
  content: "\e9d3";
}

.icon-changwenbenziduan:before {
  content: "\e769";
}

.icon-riqiziduanicon-:before {
  content: "\e63c";
}

.icon-field:before {
  content: "\e759";
}

.icon-weiyibiaoshiziduan:before {
  content: "\e6e1";
}

.icon-int:before {
  content: "\e775";
}

.icon-zidongshengchengziduan:before {
  content: "\e606";
}

.icon-text-style-one:before {
  content: "\e617";
}

.icon-add_increase_column:before {
  content: "\e63d";
}

.icon-wenben:before {
  content: "\e64e";
}

.icon-riqi:before {
  content: "\e64f";
}

.icon-Tleixingziduanbeifen:before {
  content: "\e610";
}

.icon-a-Group16:before {
  content: "\e671";
}

.icon-format:before {
  content: "\e6da";
}

.icon-biao:before {
  content: "\e71b";
}

.icon-shujukudashuju:before {
  content: "\e624";
}

.icon-shujuku:before {
  content: "\e601";
}

.icon-shujuku1:before {
  content: "\e633";
}

.icon-biao1:before {
  content: "\e760";
}

.icon-yuechi:before {
  content: "\e612";
}

